@CHARSET "UTF-8";

body {
	background-image: url("../images/fondo.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	font-family: arial;
}

h1{
	top:50px;
	margin-left:0px !important;
	position: absolute;
}

h2{
	margin-left:230px !important;
	margin-top:0px;
/*	position: absolute;*/
}

h1, h2 { 
	font-family: 'Annie Use Your Telescope', arial, serif;
	font-size: 70px;
	margin:0px;
	padding:0px;
	color: #ec6d06;
/*	margin-left:-10px;*/
}

h2{
	font-size: 20px !important;
	color: #555;
/*	margin-top:-30px;*/
/*	padding-left:25px;*/
}

h3{
	margin-top:30px;
	font-family: 'Annie Use Your Telescope', arial, serif;
	font-size: 20px;
}


#container {
	margin: auto;
	width: 900px;
	height: 800px;
	margin-top: 115px;
}

#map_canvas {
	margin-top:20px;
	position: relative !important;
	width: 900px;
	height: 500px !important;
	margin-bottom:30px;
}


a.pto {
	color: #ffffff;
	display: block;
	vertical-align: middle;
	text-align: center;
	background: #18AD22;
	z-index: 1;
	filter: alpha(opacity = 95);
	-moz-opacity: .95;
	opacity: .95;
	position: absolute;
	/*	border:1px solid #fff;*/
	-moz-border-radius: 100%;
	-webkit-border-radius: 100px;
	border-radius: 100%;
	border:2px solid #000;
/*	-moz-box-shadow: 10px 10px 5px #000;*/
/*	-webkit-box-shadow: 10px 10px 5px #000;*/
/*	box-shadow: 5px 1px 5px #000;*/
	text-decoration: none;
}

a.pto:hover, a.pto1:hover, a.pto2:hover, a.pto3:hover   {
	background: #ccc;
	color: #000;
}

a.pto_1 {
	background: #18AD22;

}
a.pto_2 {
	background: #FF7D0C;
}
a.pto_3 {
	background: #F40400;
}


#detail #map_canvas {
	height: 300px !important;
	margin-top:0px;
}

.block {
/*	border:2px solid;*/
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	background: #fff;
}
	
.red .title {
	font-family: 'Annie Use Your Telescope', arial, serif;
	font-size: 25px;
	color: #D81111;
	
}

.red{
	border: 3px solid #D81111 !important;
}

.blue {
/*	background-color: #D8ECFF;*/
	border: 3px solid #1990FF !important;
}

.blue .title {
	font-family: 'Annie Use Your Telescope', arial, serif;
	font-size: 25px;
	color: #1990FF;
}

.blue input[type="text"] {
	padding:6px;
	font-size: 20px;
	width: 290px;
	
}
.blue input[type="submit"] {
	font-size:20px;
	height:30px;
}


.green {
	border: 3px solid #18AD22 !important;
}
.green .title {
	font-family: 'Annie Use Your Telescope', arial, serif;
	font-size: 25px;
	color: #18AD22;
}

.text_right {
	text-align: right;
}

.floatleft {
	float: left;
	margin-right:0px;
	margin-left:0px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 11px;
}


.cifra{
	font-size: 50px;
	font-weight: bold;
	margin-bottom:-10px;
	text-shadow: 0px 0px 2px #333;
	padding:5px;
}

.cifra .red{
	color: #D81111;
	border: none !important;
}

.cifra .green {
	color:#18AD22;
	border: none !important;
}

.sep_cifra{
	font-size: 25px;
	vertical-align: middle;
	line-height: 50px;
	margin-top:15px;
	border-left:1px outset #000;
	display: block;
	width: 1px;
	height: 40px;
}