@CHARSET "UTF-8";


#map_canvas {

	width: 800px;
	height: 500px !important;
}


a.pto {
	color: #ffffff;
	display: block;
	vertical-align: middle;
	text-align: center;
	background: #18AD22;
	z-index: 1;
	filter: alpha(opacity = 95);
	-moz-opacity: .95;
	opacity: .95;
	position: absolute;
	/*	border:1px solid #fff;*/
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	-moz-box-shadow: 10px 10px 5px #000;
	-webkit-box-shadow: 10px 10px 5px #000;
	box-shadow: 5px 1px 5px #000;
	text-decoration: none;
}

a.pto_1 {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#660C0C),
		to(#616665), color-stop(.6, #0D0933) );

}
a.pto_2 {
	background: #FF7D0C;
}
a.pto_3 {
	background: #F40400;
}